<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Cache-control" content="public" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="title" content="Agus Syahril Mubarok" />
  <meta name="description"
    content="Agus Syahril Mubarok | mrschwartx | Software Engineer | Mobile Engineer | Backend Engineer | Professional Programmer"
  />
  <meta
    name="keywords"
    content="Agus Syahril Mubarok, mrschwartx, Software Engineer, Mobile Engineer, Backend Engineer, | Professional Programmer"
  />
  <meta name="robots" content="index, follow" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="language" content="English" />
  <meta name="author" content="Agus Syahril Mubarok" />

  {% include ext_css.html css=css %}

  <link rel="stylesheet" href="/css/main.css" />
  
  {%- feed_meta -%} {%- seo -%}
  
  <link rel="shortcut icon" href="/ico/favicon.ico" />
  <link rel="apple-touch-icon" href="/ico/apple-touch-icon.png" />
</head>
